main {
  background-color: #EFA32A;
  padding: 8px 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    height: 25px;
  }
}
